@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@layer base {
	*,
	*::after,
	*::before {
		@apply m-0 p-0 box-border;
	}

	body {
		@apply text-gray-900;
	}

	button {
		@apply border-0 outline-none disabled:cursor-not-allowed disabled:opacity-50 select-none;
	}

	input,
	textarea,
	select {
		@apply w-full h-full bg-transparent outline-none border-none;
	}
}

@layer components {
	.primaryBtn {
		@apply flex items-center justify-center gap-x-2 bg-primaryColor text-white px-4 h-11 rounded hover:bg-primaryColor/95 disabled:cursor-not-allowed disabled:opacity-50 select-none;
	}
}

.blob { 
	z-index: -1;
	width: 717.583984375px;
	height: 656.5263061523438px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22717.584%22 height=%22656.526%22 viewBox=%22131.324 151.119 717.584 656.526%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M795 669Q695 838 521 801T204.5 632Q62 500 197 355t331-194q196-49 281.5 145T795 669Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23bb2649%22 d=%22M795 669Q695 838 521 801T204.5 632Q62 500 197 355t331-194q196-49 281.5 145T795 669Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  